
<!DOCTYPE html>

<html>

<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Personal/Professtional CV</title>
    <link rel = "stylesheet" href = "Style.css">
</head>

<div class = "container">
    <form>
        <input type = "text" placeholder = "Search site...">
        <button type = "submit">Search</button>
    </form>
</div>

<div class = "heading1">
    <h1>Greetings and welcome to my CV.</h1>
</div>

<div class = "heading2">
    <h2>Name, Contact and information:</h2>
</div>

<body>
    <div class = "information">
        <form>
            <label>First name: Calvin</label>
            <br>
            <label>Surname: Hattingh</label>
            <br>
            <label>Gender: Male</label>
            <br>
            <label>Age: 25</label>
            <br>
            <label>Email address: Calvintheenigma@gmail.com</label>
            <br>
            <a href = "https://youtube.com/@enigma13185?si=wq7Y09oP1JJV_IW9">Here is the link to my youtube channel.</a>
            <br>
            <p>Here is a photo of myself:</p>
            <br>
            <img src = "Images/Image1.jpg" height="150">
        </form>
    </div>
    
</body>
</html>

<div class = "heading3">
    <h2>Skills and Competencies:</h2>
</div>

<div class = "skills">
    <ul>

    <li>Critical thinker</li>
    <li>Detail oriented</li>
    <li>Orginised</li>
    <li>Multitasking</li>
    <li>Work well under pressure</li>

    </ul>
</div>

<div class = "education">
    <p>My education consisting of home schooling aswell as a fullstack software engineering bootcamp</p>
</div>

<div class = "experience">
    <p>I dont have as much work experience as the average joe, however I have at one stage ran my own music studio,
    aswell as worked in a lawer's office as administration.</p>
</div>

<div class = "heading4">
    <h2>A short bio:</h2>
</div>

<div class = "bio1">
    <p> I am a passionate nerd and gamer, always have been.
        I collect and read comics to understand and learn more about the fandoms that I like.
        Gaming is my strong suit and where I excel most at,
        gaming ties into my main goal in life
        which is to become a game developer hense why im learning coding.
    </p>
</div>

<div class = "bio2">
    <p> Becoming a game developer has been a dream of mine since i started playing games.
        ive always thought of ways to improve apon games and always have ideas to add to games that I play.
        My motivation comes from a saying,
        "Before you quit, remember why you started."
        Another place I draw inspiration is from rethinking the word dicipline.
        Think of it like this dicipline is your future self relying on the current you to keep the promises you made in the past.
    </p>
</div>


<div class = "contact">
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Contact Form</title>
        <!-- Form styling -->
        <link rel="stylesheet" href="formcarry-form.css" />
    </head>
    <body>
        <div class="formcarry-container">
        <form action="#" method="POST" class="formcarry-form">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="fullName" required />

            <label for="email">Your Email Address</label>
            <input type="email" id="email" name="email" required />

            <label for="message">Your Message</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>

            <button type="submit">Send</button>
        </form>
        </div>
    </body>
    </html>
</div>
